services:
	- App\Core\RouterFactory::createRouter
	- App\Security\UserAuthenticator
	- App\Models\UserModel
	- App\Models\ClientModel
	- App\Models\RoleModel	
	- App\Models\EntityModel	

search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Repository
			- *Service
