services:
	- App\Core\RouterFactory::createRouter
	- App\Security\UserAuthenticator
	- App\Models\UserModel
	- App\Models\ClientModel
	- App\Models\RoleModel	
	- App\Models\EntityModel
	- App\Models\CaseModel		
	- App\Models\CaseStatusModel
	- App\Models\CurrencyModel	
	- App\Models\TaskStatusModel	
search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Repository
			- *Service
