services:
	- App\Core\RouterFactory::createRouter
	- App\Security\UserAuthenticator
	- App\Models\UserModel
	- App\Models\ClientModel
	
search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Repository
			- *Service
