{block content}
<h1>Vytvořit nového uživatele</h1>

{form createUserForm}
    
        {label name /}
        {input name}

        {label surname /}
        {input surname}

        {label email /}
        {input email}

        {label status /}
        {input status}

        {label roles /}
        {input roles}

        {input submit}
    
{/form}
{/block}