{block content}
    <div class="content">
        <div class="header">CRM Systém - Test rozhraní</div>
        <p>Obsah se zobrazí zde. Můžeš začít testovat layout, vykreslování komponent nebo formulářů.</p>
    </div>

    {/block}
